
/* .white-text {
    color: #fff !important;
    } */
    
    /* 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
    
    */
    
    /* 
    1. Vị trí
    2. Kích thước (width, height)
    3. Màu sắc
    4. Font property(font-family, font-style, hình tròn, hình vuông)
    
    */
    
    /* Common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
       
}
    
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

.white-text {
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.clear {
   clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    /* padding-top: 32px;
    padding-bottom: 32px; */
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}


/* Main */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 3;
    /* overflow: hidden; */
   
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
    
}

#nav > li {
display: inline-block;
}

#nav li{
    
    position: relative;

}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
    
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .menu-icon:hover,
#header .mobile-menu-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* #header .mobile-menu-btn:hover .menu-icon {
    color: #000;
} */

#slider {
   /* height: 400px; */
   /* background-color: green; */
   position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .content-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .content-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;

}
#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}

#content .members-list {
    /* float: left; */
    margin-top: 47px;
}

#content .member-name {
    font-size: 15px;
    margin-bottom: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin-top: -3px;
}

/* Places */

.places-list {
    /* margin-bottom: 48px; */
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-date {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 20px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.place-img:hover {
    opacity: 0.6;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}



.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
}
.modal.open {
    /* opacity: 1; */
    display: flex;
}

.modal-container {
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;
    font-size: 15px;
    position: relative;
    animation: fadeIn 0.5s ease;
}

.modal-header {
    height: 130px;
    background-color: #009688;
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal-close {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 8px;
}

.modal-input {
    margin-bottom: 24px;
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
}

#buy-tickets {
    width: 100%;
    background-color: #009688;
    padding: 18px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196f3;
}

#buy-tickets:hover {
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 0.8;
}

@keyframes fadeIn {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


/* contact-form */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}


/* Footer */

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;

}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    margin: 15px 0;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover,
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.4);

}